<ion-view view-title="Map" ng-init="list()">
  <ion-content scroll="false" data-tap-disabled="true" >
    <map center="{{$root.current_static_pos[0] + ',' + $root.current_static_pos[1]}}" zoom="11" disable-default-u-i="true">
      <div ng-repeat="todo in map_all.todos | filter:{status:false}">
    <marker icon="{{'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + ($index + 1) +'|FE6256|000000'}}" position="{{todo.user_latitude + ',' + todo.user_longitude}}" on-click="showInfoWindow(event, todo.user_latitude, todo.user_longitude, todo.title)"></marker>
    </div>
  <!--   <info-window id="1" position="{{map_all.todos[0].user_latitude + ',' + map_all.todos[0].user_longitude}}" visible="true">
      <div ng-non-bindable="">{{map_all.todos[0].title}}</div>
    </info-window> -->
    </map>
  </ion-content>
<!--   <ion-content class="bottom">
  <div class="scroll">
    <p>Around Us</p>
  <div ng-repeat="todo in map_all.todos | filter:{status:false}">
    <p>{{ $index + 1 + '. Something Happened at ' + todo.user_latitude + "," + todo.user_longitude}}</p>
  </div>
  </ion-content> -->
</ion-view>
