<ion-view view-title="Map" ng-init="list()">
<ion-nav-buttons side="right">
  <button class="button" ng-click="chat()">Chat</button>
</ion-nav-buttons>
    <ion-content scroll="false" class="top">
        <map center=" $root.current_pos[0], $root.current_pos[1]" zoom="15" disable-default-u-i="true">
          <directions 
            draggable="false"
            avoidTolls="true"
            provideRouteAlternatives="true"
            panel="directionpanel"
            travel-mode="DRIVING"
            origin="{{$root.current_pos[0] + ',' + $root.current_pos[1]}}"
            destination="{{end}}">
          </directions>
        </map>
      <ion-footer-bar class="bar-assertive">
        <h2 style="color: white;">Directions</h2>
      </ion-footer-bar>
    </ion-content>
  <ion-content class="bottom">
    <div id="directionpanel" style="width:100%"></div>
  </ion-content>
</ion-view>
