<ion-view view-title="Map">
<ion-nav-buttons side="right">
  <button class="button" ng-click="chat()">Chat</button>
</ion-nav-buttons>
    <ion-content scroll="false">
        <map center=" $root.current_pos[0], $root.current_pos[1]" zoom="15" disable-default-u-i="true">
          <directions 
            draggable="false"
            avoidTolls="true"
            provideRouteAlternatives="true"
            panel="directionpanel"
            travel-mode="DRIVING"
            origin="{{start}}"
            destination="{{end}}">
          </directions>
        </map>
    <ion-scroll>
  <div id="directionpanel" style="width:100%"><h2>Direction</h2>
    </div>
  </ion-scroll>
    <ion-footer-bar class="bar-assertive">
      <a ng-click="clicked()" class="button button-icon icon ion-navigate">{{panelName}}</a>
    </ion-footer-bar>
  </ion-content>
</ion-view>
