<ion-view>

		<ion-header-bar class="bar-assertive">
  		<h1 class="title">Login</h1>
		</ion-header-bar>

	<ion-content class="padding logo-login" scroll="false">
		<div class="branding">
			<div class="tagline">
				<p style="font-size: 2em;">Help Me</p>
				<p style="font-size: 1rem;">Because together we can.</p>
			</div>
		</div>
		
        <div  class="logo-welcome"></div><br>
        	<button class="button button-block icon-left ion-social-facebook button-positive" style="border-radius: 10px;" ng-click="fbLogin()">Log In with Facebook</button>
			<button class="button button-block icon-left ion-social-googleplus button-assertive" style="border-radius: 10px;" ng-click="googleLogin()">Log In with Google+</button>
    </div>
		
	</ion-content>

</ion-view>
