<ion-view view-title="Comments" ng-init="list()"> 
<!-- <ion-nav-buttons side="right">
  <button class="button" ng-click="create()">Help Me!</button>
</ion-nav-buttons> -->
  <ion-content>
<div class="list card">

  <div class="item item-avatar">
    <img src="{{status.user_pp}}">
    <h2>{{status.username}}</h2>
    <p><span am-time-ago="{{status.date}}"></p>
    <img class="item-checkbox-img" ng-show="status.status != false" src="img/helped.png">
    <img class="item-checkbox-img" ng-show="status.status != true" src="img/ongoing.png">
    <!-- <p>{{todo.date | amCalendar }}</p> -->
  </div>

  <div class="item item-body">
    <img class="full-image" ng-show='status.user_images !== ""' ng-src="data:image/jpeg;base64,{{status.user_images}}">
    <img class="full-image" ng-show='status.user_images === ""' ng-src="img/FireDisaster.jpg">
    <p>
      {{status.title}}
    </p>
  </div>
<!--   <div class="item item-body">
    <a class="tab-item" href="#" ng-click="like(status.id)">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" ng-show="(status.status != true) && (status.username != $root.username)" href="#" ng-click="give_help(status.id)">
      <i class="icon ion-happy-outline"></i>
      Give Help
    </a>
    <a class="tab-item" ng-show="status.username == $root.username" href="#" ng-click="toggle(status.id)">
      <i class="icon ion-checkmark-circled"></i>
      Change status
    </a>
    <a class="tab-item" href="#" ng-click="gotolocation(status.id)">
      <i class="icon ion-map"></i>
      Map
    </a>
    <a class="tab-item" href="#" ng-click="share_status(status.title, status.username, status.user_images, status.date)">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div> -->
  <div class="item item-body">
    <label class="item item-input">
      <textarea ng-model="txtcomment" placeholder="Your Comments"></textarea>
      </label>
      <button class="button button-block icon-left ion-compose button-positive button-outline" ng-click="new_comment()">Post comments</button>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="comment in status.comments | orderBy:'-date'">
          <img src="{{comment.user_pp}}">
          <h2>{{comment.username}}</h2>
          <p><span am-time-ago="{{comment.date}}"></p>
          <p>{{comment.comments}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="delete_comment(comment.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </div>

</div>
<!--   <ion-infinite-scroll
      on-infinite="addMoreItem()" 
      icon="ion-loading-c"
      distance="10%">
  </ion-infinite-scroll>   -->  

  </ion-content>
</ion-view>