<ion-view view-title="Comments" ng-init="list()"> 
<!-- <ion-nav-buttons side="right">
  <button class="button" ng-click="create()">Help Me!</button>
</ion-nav-buttons> -->
  <ion-content>
<div class="list card">

  <div class="item item-avatar">
    <img src="{{status.user_pp}}">
    <h2>{{status.username}}</h2>
    <p>{{status.date | amCalendar}}</p>
    <img class="item-checkbox-img" ng-show="status.status != false" src="img/helped.png">
    <img class="item-checkbox-img" ng-show="status.status != true" src="img/ongoing.png">
    <!-- <p>{{status.date | amCalendar }}</p> -->
  </div>

  <div class="item item-body">
<!--     <div>
      <ion-slide-box active-slide="0" 
      on-slide-changed="slideChanged(index)"
      on-swipe-left="next()"
      on-swipe-right="previous()">
      <ion-slide>
    <img class="full-image" ng-show='status.user_images !== ""' ng-src="data:image/jpeg;base64,{{status.user_images}}">
    <img class="full-image" ng-show='status.user_images === ""' ng-src="img/FireDisaster.jpg">
      </ion-slide>

      <ion-slide >
      <map class="full-image" draggable="false" center="{{status.user_latitude + ',' + status.user_longitude}}" zoom="11" disable-default-u-i="true" style="margin-bottom:-150px;">
      <marker position="{{status.user_latitude + ',' + status.user_longitude}}"></marker>
      </map>
      </ion-slide>
    </div > -->
    <img class="full-image" ng-show='status.user_images !== ""' ng-src="data:image/jpeg;base64,{{status.user_images}}">
    <img class="full-image" ng-show='status.user_images === ""' ng-src="img/FireDisaster.jpg">
    <p>
      {{status.title}}
    </p>
    <p>
      <b>{{status.severity}}</b>
    </p>
    <p>
      <a href="#" ng-show="status.help_points > 0" class="subdued">{{status.help_points}} person helping right now</a>
      <a href="#" class="subdued">{{getDistanceFromLatLonInKm($root.current_pos[0], $root.current_pos[1], status.user_latitude, status.user_longitude);}} Km from your location.</a>
    </p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#" ng-click="like(status.id)">
      <i class="icon ion-thumbsup"></i>
      {{status.useful_points}} Vote
    </a>
    <a class="tab-item" ng-show="(status.status != true) && (status.username != $root.username)" href="#" ng-click="give_help(status.id)">
      <i class="icon ion-happy-outline"></i>
      Give Help
    </a>
    <a class="tab-item" ng-show="(status.username == $root.username) && (status.status != true)" href="#" ng-click="toggle(todo.id)">
      <i class="icon ion-checkmark-circled"></i>
      Change status
    </a>
    <a class="tab-item" href="#" ng-click="gotolocation(status.id)">
      <i class="icon ion-map"></i>
      Map
    </a>
    <a class="tab-item" href="#" ng-click="share_status(status.title, status.username, status.user_images, status.date)">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
  <div class="item item-body">
    <label class="item item-input">
      <textarea ng-model="txtcomment" placeholder="Your Comments"></textarea>
      </label>
      <button class="button button-block icon-left ion-compose button-positive button-outline" ng-click="new_comment()">Post comments</button>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="comment in status.comments | orderBy:'-date'">
          <img src="{{comment.user_pp}}">
          <h2>{{comment.username}}</h2>
          <p><span am-time-ago="{{comment.date}}"></p>
          <p>{{comment.comments}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="delete_comment(comment.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </div>

</div>
<!--   <ion-infinite-scroll
      on-infinite="addMoreItem()" 
      icon="ion-loading-c"
      distance="10%">
  </ion-infinite-scroll>   -->  

  </ion-content>
</ion-view>